.background {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-name: zoom;
    animation-iteration-count: infinite;
    animation-play-state: running;
    z-index: -1;

    /*
function randomNumber(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min
}

const STAR_COUNT = 100
let result = ""
for(let i = 0; i < STAR_COUNT; i++){
    result += `${randomNumber(-50, 50)}vw ${randomNumber(-50, 50)}vh ${randomNumber(0, 3)}px ${randomNumber(0, 3)}px #fff,`
}
console.log(result.substring(0, result.length - 1))
*/

    &.star1 {
        box-shadow: -16vw -28vh 3px 0px #ffcf90, -47vw -43vh 1px 3px #ffcf90, 25vw 27vh 3px 3px #ffcf90,
            42vw -22vh 2px 3px #ffcf90, -24vw 46vh 3px 1px #ffcf90, -5vw -2vh 3px 3px #ffcf90, 48vw 2vh 1px 3px #ffcf90,
            8vw -21vh 3px 1px #ffcf90, 10vw -47vh 2px 0px #ffcf90, -1vw 16vh 3px 2px #ffcf90, -1vw 11vh 1px 2px #ffcf90,
            3vw -14vh 2px 3px #ffcf90, -49vw 35vh 0px 2px #ffcf90, -30vw -33vh 2px 0px #ffcf90,
            24vw -7vh 0px 1px #ffcf90, 38vw -36vh 0px 0px #ffcf90, 22vw 40vh 2px 0px #ffcf90,
            -28vw -46vh 1px 1px #ffcf90, -19vw 26vh 3px 2px #ffcf90, -32vw -31vh 1px 1px #ffcf90,
            9vw -48vh 2px 1px #ffcf90, 28vw -8vh 0px 3px #ffcf90, 43vw -3vh 2px 1px #ffcf90, 18vw 2vh 3px 0px #ffcf90,
            17vw 46vh 2px 0px #ffcf90, 33vw 11vh 1px 0px #ffcf90, -29vw 44vh 3px 1px #ffcf90, -5vw -37vh 3px 1px #ffcf90,
            11vw 31vh 0px 0px #ffcf90, -14vw 30vh 3px 2px #ffcf90, -11vw -45vh 1px 0px #ffcf90,
            46vw -16vh 1px 2px #ffcf90, 45vw -49vh 3px 3px #ffcf90, -1vw -15vh 3px 2px #ffcf90,
            -47vw 24vh 0px 3px #ffcf90, 3vw 36vh 3px 0px #ffcf90, 4vw -44vh 1px 1px #ffcf90, -18vw 44vh 3px 1px #ffcf90,
            13vw 5vh 0px 3px #ffcf90, -48vw -7vh 0px 1px #ffcf90, -50vw -18vh 1px 0px #ffcf90,
            -35vw -29vh 1px 1px #ffcf90, -31vw -40vh 1px 2px #ffcf90, 24vw 44vh 3px 3px #ffcf90,
            -41vw -16vh 0px 0px #ffcf90, 13vw 0vh 1px 1px #ffcf90, 48vw 32vh 0px 0px #ffcf90,
            -38vw -39vh 2px 2px #ffcf90, 34vw 23vh 3px 3px #ffcf90, 5vw 18vh 1px 1px #ffcf90, -7vw 13vh 2px 2px #ffcf90,
            29vw 34vh 1px 0px #ffcf90, -4vw 25vh 1px 2px #ffcf90, -14vw -1vh 0px 1px #ffcf90, -10vw -6vh 3px 2px #ffcf90,
            -19vw 26vh 3px 3px #ffcf90, 20vw 20vh 3px 1px #ffcf90, -16vw 50vh 0px 0px #ffcf90, 11vw 33vh 0px 0px #ffcf90,
            12vw -35vh 1px 3px #ffcf90, 34vw -38vh 0px 3px #ffcf90, -14vw 5vh 0px 1px #ffcf90, 23vw 29vh 3px 3px #ffcf90,
            -5vw -39vh 1px 3px #ffcf90, 0vw 16vh 3px 0px #ffcf90, -20vw 37vh 3px 1px #ffcf90, 48vw -48vh 3px 3px #ffcf90,
            9vw -41vh 1px 3px #ffcf90, -48vw -6vh 3px 2px #ffcf90, -9vw -20vh 2px 3px #ffcf90, 15vw 11vh 1px 2px #ffcf90,
            -4vw -8vh 0px 0px #ffcf90, 38vw -47vh 3px 2px #ffcf90, 20vw 50vh 1px 2px #ffcf90, 43vw -2vh 0px 3px #ffcf90,
            -17vw -50vh 0px 2px #ffcf90, -30vw 24vh 1px 0px #ffcf90, -16vw 23vh 3px 2px #ffcf90,
            44vw -4vh 2px 3px #ffcf90, 11vw 1vh 0px 0px #ffcf90, -36vw 34vh 1px 1px #ffcf90, -3vw 15vh 0px 1px #ffcf90,
            30vw -45vh 3px 1px #ffcf90, -11vw 15vh 1px 0px #ffcf90, 4vw 6vh 0px 0px #ffcf90, -50vw -6vh 2px 1px #ffcf90,
            49vw -22vh 2px 2px #ffcf90, -42vw 37vh 2px 0px #ffcf90, -35vw 5vh 0px 1px #ffcf90, -1vw 13vh 3px 1px #ffcf90,
            49vw 10vh 2px 1px #ffcf90, 10vw 43vh 1px 3px #ffcf90, 43vw 27vh 1px 0px #ffcf90, -2vw -12vh 2px 2px #ffcf90,
            -37vw 38vh 2px 0px #ffcf90, 17vw 17vh 2px 1px #ffcf90, 0vw 15vh 3px 2px #ffcf90, 9vw 5vh 1px 0px #ffcf90,
            -24vw 16vh 0px 0px #ffcf90, 18vw -41vh 0px 1px #ffcf90;
    }

    &.star2 {
        animation-delay: 3.3s;
        opacity: 0;
        box-shadow: -45vw -35vh 3px 0px #9db7fe, 25vw 38vh 0px 3px #9db7fe, -23vw -42vh 0px 3px #9db7fe,
            19vw -11vh 3px 1px #9db7fe, -18vw 29vh 2px 3px #9db7fe, 27vw -23vh 3px 1px #9db7fe,
            -17vw 46vh 0px 3px #9db7fe, 37vw 36vh 1px 0px #9db7fe, 47vw 38vh 3px 0px #9db7fe,
            -30vw -48vh 3px 3px #9db7fe, -24vw -35vh 3px 3px #9db7fe, 33vw 0vh 2px 1px #9db7fe,
            -17vw 24vh 0px 3px #9db7fe, 6vw -14vh 0px 1px #9db7fe, 23vw -44vh 2px 1px #9db7fe, 2vw 43vh 3px 1px #9db7fe,
            -47vw 49vh 0px 1px #9db7fe, 38vw 28vh 0px 0px #9db7fe, 45vw 1vh 0px 1px #9db7fe, -45vw -29vh 0px 2px #9db7fe,
            -22vw 40vh 1px 1px #9db7fe, -39vw -46vh 0px 3px #9db7fe, 3vw -2vh 0px 3px #9db7fe, -34vw 7vh 2px 2px #9db7fe,
            0vw 50vh 3px 2px #9db7fe, 5vw 12vh 2px 0px #9db7fe, 16vw 28vh 2px 1px #9db7fe, 46vw -2vh 3px 3px #9db7fe,
            -6vw 9vh 0px 3px #9db7fe, 38vw -11vh 0px 0px #9db7fe, 27vw -47vh 2px 2px #9db7fe, 2vw -44vh 2px 2px #9db7fe,
            -30vw -26vh 1px 1px #9db7fe, -6vw 32vh 3px 3px #9db7fe, -34vw 29vh 2px 2px #9db7fe,
            -15vw -4vh 0px 2px #9db7fe, 30vw 42vh 1px 0px #9db7fe, 22vw 50vh 2px 3px #9db7fe, -18vw 16vh 1px 1px #9db7fe,
            16vw -14vh 3px 0px #9db7fe, -26vw 47vh 0px 0px #9db7fe, 46vw -33vh 2px 3px #9db7fe,
            -19vw 41vh 1px 1px #9db7fe, 34vw -22vh 3px 1px #9db7fe, 34vw 19vh 0px 0px #9db7fe, 6vw -17vh 3px 2px #9db7fe,
            31vw 8vh 0px 3px #9db7fe, 33vw -28vh 1px 3px #9db7fe, -6vw -2vh 0px 2px #9db7fe, 47vw -17vh 1px 2px #9db7fe,
            45vw -21vh 1px 3px #9db7fe, 48vw -31vh 2px 0px #9db7fe, -10vw 30vh 2px 2px #9db7fe,
            -47vw -30vh 0px 1px #9db7fe, 20vw -4vh 0px 1px #9db7fe, 33vw -40vh 3px 1px #9db7fe,
            -13vw 42vh 2px 0px #9db7fe, -7vw -37vh 0px 1px #9db7fe, -38vw -34vh 0px 0px #9db7fe,
            3vw -25vh 2px 0px #9db7fe, 28vw 8vh 2px 1px #9db7fe, 39vw 45vh 3px 0px #9db7fe, 8vw 37vh 0px 2px #9db7fe,
            15vw 46vh 2px 0px #9db7fe, 15vw 23vh 2px 1px #9db7fe, 41vw -24vh 0px 0px #9db7fe, 24vw -16vh 2px 2px #9db7fe,
            -41vw -50vh 3px 2px #9db7fe, -17vw -16vh 3px 2px #9db7fe, 34vw -33vh 2px 2px #9db7fe,
            -13vw -42vh 0px 0px #9db7fe, 5vw -43vh 2px 2px #9db7fe, 49vw -26vh 1px 3px #9db7fe,
            -12vw -6vh 2px 2px #9db7fe, 6vw -43vh 3px 3px #9db7fe, 4vw 17vh 3px 3px #9db7fe, -36vw -22vh 2px 1px #9db7fe,
            43vw 17vh 3px 2px #9db7fe, 29vw 29vh 0px 2px #9db7fe, -24vw -8vh 1px 0px #9db7fe, -9vw 20vh 3px 3px #9db7fe,
            -6vw -42vh 2px 3px #9db7fe, -1vw 40vh 0px 3px #9db7fe, -41vw 48vh 2px 1px #9db7fe,
            45vw -49vh 2px 3px #9db7fe, 8vw 5vh 0px 1px #9db7fe, 15vw 29vh 1px 0px #9db7fe, -3vw -3vh 0px 1px #9db7fe,
            46vw -31vh 1px 3px #9db7fe, -29vw 1vh 1px 0px #9db7fe, -46vw -10vh 0px 2px #9db7fe,
            44vw 47vh 1px 3px #9db7fe, 41vw 4vh 3px 1px #9db7fe, -31vw 4vh 2px 2px #9db7fe, -4vw 28vh 1px 1px #9db7fe,
            14vw 26vh 3px 3px #9db7fe, -42vw -48vh 3px 3px #9db7fe, -24vw 41vh 1px 2px #9db7fe,
            44vw 47vh 2px 0px #9db7fe, 17vw -34vh 2px 0px #9db7fe;
    }

    &.star3 {
        animation-delay: 6.6s;
        opacity: 0;
        box-shadow: -19vw 22vh 3px 3px #fff, -42vw -7vh 3px 3px #fff, 44vw -30vh 2px 2px #fff, -27vw -5vh 3px 2px #fff,
            -44vw 42vh 1px 2px #fff, -34vw -9vh 0px 2px #fff, -18vw -2vh 2px 0px #fff, -7vw -27vh 3px 1px #fff,
            -32vw 26vh 1px 3px #fff, -26vw -11vh 3px 1px #fff, -35vw -43vh 2px 2px #fff, 3vw 3vh 1px 1px #fff,
            -45vw 2vh 2px 0px #fff, -34vw -7vh 1px 0px #fff, 44vw -2vh 0px 1px #fff, -34vw -45vh 0px 1px #fff,
            -1vw 19vh 1px 0px #fff, 24vw 49vh 1px 2px #fff, 5vw -39vh 1px 1px #fff, 0vw -30vh 0px 1px #fff,
            30vw 11vh 1px 2px #fff, -2vw -4vh 3px 2px #fff, -17vw -33vh 0px 3px #fff, -41vw 45vh 2px 3px #fff,
            48vw -14vh 3px 1px #fff, -8vw 25vh 0px 3px #fff, 25vw -40vh 2px 0px #fff, 48vw -47vh 1px 1px #fff,
            -25vw -12vh 3px 1px #fff, 3vw 18vh 2px 3px #fff, -50vw 46vh 3px 0px #fff, 5vw -10vh 3px 2px #fff,
            34vw -46vh 2px 1px #fff, 35vw 46vh 2px 2px #fff, 42vw 42vh 0px 1px #fff, -26vw -40vh 3px 0px #fff,
            -41vw -17vh 0px 3px #fff, -22vw -5vh 1px 1px #fff, 24vw 49vh 0px 2px #fff, -12vw -16vh 2px 3px #fff,
            29vw -16vh 2px 1px #fff, 36vw 3vh 3px 3px #fff, -31vw -5vh 1px 3px #fff, 27vw -32vh 0px 1px #fff,
            32vw 33vh 2px 2px #fff, -41vw 50vh 1px 1px #fff, -31vw 22vh 0px 1px #fff, 40vw 3vh 1px 2px #fff,
            -20vw -24vh 1px 2px #fff, -32vw 33vh 1px 3px #fff, -48vw 37vh 3px 3px #fff, 11vw 22vh 1px 1px #fff,
            -24vw 34vh 0px 3px #fff, 35vw -16vh 3px 1px #fff, -2vw 13vh 1px 1px #fff, -17vw -37vh 3px 3px #fff,
            -15vw -27vh 3px 2px #fff, -16vw 8vh 2px 1px #fff, 44vw -30vh 0px 2px #fff, -46vw -43vh 0px 0px #fff,
            -9vw 30vh 2px 0px #fff, 23vw 25vh 0px 3px #fff, 25vw -37vh 1px 0px #fff, 18vw 19vh 2px 1px #fff,
            -37vw 32vh 0px 3px #fff, 34vw -47vh 1px 2px #fff, -40vw -24vh 2px 1px #fff, 27vw 23vh 0px 3px #fff,
            -36vw 5vh 0px 2px #fff, -35vw 7vh 2px 3px #fff, -17vw 49vh 0px 0px #fff, 23vw -46vh 2px 2px #fff,
            -47vw 44vh 2px 1px #fff, 34vw 14vh 3px 3px #fff, 40vw 38vh 2px 2px #fff, -48vw 48vh 3px 0px #fff,
            -27vw -32vh 0px 1px #fff, 8vw 12vh 0px 2px #fff, -1vw 16vh 0px 3px #fff, -7vw -26vh 1px 0px #fff,
            -29vw -1vh 2px 2px #fff, -21vw 17vh 1px 3px #fff, 6vw -23vh 2px 3px #fff, -6vw -14vh 3px 1px #fff,
            24vw 27vh 3px 1px #fff, -32vw 13vh 0px 2px #fff, -4vw -11vh 2px 0px #fff, 11vw 23vh 3px 0px #fff,
            19vw 37vh 3px 2px #fff, 46vw 31vh 0px 1px #fff, -37vw 27vh 2px 3px #fff, 33vw 22vh 1px 1px #fff,
            43vw 3vh 2px 2px #fff, 0vw -31vh 0px 1px #fff, 49vw -18vh 1px 3px #fff, 7vw 36vh 0px 3px #fff,
            22vw 1vh 1px 0px #fff, -42vw -44vh 1px 2px #fff, -6vw 27vh 3px 0px #fff, -48vw 50vh 1px 1px #fff;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    50% {
        transform: scale(1.25);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.75);
        opacity: 0;
    }
}
