.community-cards {
    padding: 4em 5em;
    max-width: calc(100vw - 8em);
    background-color: rgba(65, 65, 65, 0.9);

    @media only screen and (max-width: 1400px) {
        padding: 4em;
        max-width: calc(100vw - 6em);
    }
    @media only screen and (max-width: 1200px) {
        padding: 3em 4em;
        max-width: calc(100vw - 4em);
    }
    @media only screen and (max-width: 950px) {
        padding: 2em;
        max-width: calc(100vw - 2em);
    }
    @media only screen and (max-width: 700px) {
        padding: 1em;
        max-width: calc(100vw - 2em);
    }

    .hope-simple-grid {
        @media only screen and (max-width: 1500px) {
            grid-template-columns: repeat(4, minmax(0px, 1fr));
        }
        @media only screen and (max-width: 1200px) {
            grid-template-columns: repeat(3, minmax(0px, 1fr));
        }
        @media only screen and (max-width: 950px) {
            grid-template-columns: repeat(2, minmax(0px, 1fr));
        }
        @media only screen and (max-width: 500px) {
            grid-template-columns: repeat(1, minmax(0px, 1fr));
        }
    }

    .community-card {
        height: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 5px;
        padding-bottom: 40px;

        .community-top {
            display: flex;
            margin: 0 0 0.25em 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            .community-icon {
                height: 70px;
                width: 70px;
                min-height: 70px;
                min-width: 70px;
                position: relative;
                overflow: hidden;

                img {
                    min-height: 70px;
                    width: auto;
                    border-top-left-radius: 5px;
                    object-fit: fill;
                }
            }

            .community-title {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: center;
                margin-left: 1em;
                margin-right: 0.5em;
                overflow: hidden;
                font-size: 1.1em;

                div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .community-desc-center {
            min-height: 3em;
            padding-bottom: 0.25em;

            .community-desc {
                margin: 0 0.5em;
                overflow: hidden;
                font-size: 0.9em;
                text-align: center;

                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* number of lines to show */
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .community-tags {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.5em 0.5em 0.5em 0.5em;
            text-align: center;
            overflow-x: hidden;
        }

        .community-link {
            position: absolute;
            top: 2px;
            right: 8px;
        }
    }
}

.community-tags {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .chip {
        padding: 0 0.5em 0.1em 0.5em;
        border-radius: 1em;
        margin-right: 0.25em;
        color: black;

        &.hope-select__option-text {
            margin-top: 0.3em;
        }
    }
}

.hope-modal__body .community-tags {
    margin-top: 0.25em;
}

.hope-select__trigger {
    .community-tags {
        display: inline-block;
        .chip {
            padding-right: 1.5em;
            position: relative;
            .hope-select__tag-close-button {
                position: absolute;
                top: 50%;
                right: 0;
                display: inline-block;
                transform: translateY(-50%);
                border-radius: 1em;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}
