.chip {
    background-color: #e5e5e5;

    &.Reddit {
        background-color: #ffdaf6;
    }
    &.Discord {
        background-color: #ede2fe;
    }
    &.Website {
        background-color: #cfdfff;
    }
    &.Wiki {
        background-color: #eeeeee;
    }
    &.Twitter {
        background-color: #d0f0fd;
    }
    &.Youtube {
        background-color: #fee2d5;
    }
    &.Civilization {
        background-color: #ffeab6;
    }
    &.App {
        background-color: #d1f7c4;
    }
    &.Tool {
        background-color: #d1f7c4;
    }
    &.Resource {
        background-color: #ffdaf6;
    }
    &.Amino {
        background-color: #c2f5e9;
    }
    &.Facebook {
        background-color: #ede2fe;
    }
    &.Company {
        background-color: #ffeab6;
    }
    &.Forum {
        background-color: #ffdce5;
    }
    &.Game {
        background-color: #d0f0fd;
    }
}
