.slide-index {
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.75);
    border-radius: 5px;
    height: 5px;
    width: 20px;
    margin: 0 3px;
    cursor: pointer;

    &.is-active {
        background-color: $linkColour;
    }
}

.slider-container {
    position: relative;
    min-height: 180px;
    .slider-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }

    img {
        max-height: 50vh;
    }
}
