@use "custom/var";
@use "custom/fab";
@use "custom/chips";
@use "custom/scrollbar";
@use "custom/background";
@use "custom/general";
@use "custom/card";
@use "custom/modal";
@use "custom/table";
@use "custom/slider";

body {
    background-color: rgb(50, 50, 50);

    ::selection {
        background: #662954;
        color: white;
        /* WebKit/Blink Browsers */
    }

    ::-moz-selection {
        background: #662954;
        color: white;
        /* Gecko Browsers */
    }

    a {
        color: var.$linkColour;
    }
}

.hidden-in-desktop {
    @media screen and (min-width: 980px) {
        display: none !important;
    }
}

.hidden-in-mobile {
    @media screen and (max-width: 980px) {
        display: none !important;
    }
}

.hidden-in-tiny-mobile {
    @media screen and (max-width: 500px) {
        display: none !important;
    }
}

.pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.max-lines-1 {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}